.meso-result-form
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  background-color: rgba(250,178,67,0.8)
  color: rgba(255,255,255,0.95)
  width: 100%
  padding: 10px
  border: 1px solid #dadde9
  border-radius: 5px
.input-form
  width: 90%
.result-button
  width: 80%
.cube-result-button
  width: 100%
  height: 100%
.black-font
  color: #000000