$IMAGE_PREFIX: '../static/images/'
@mixin backgroundImageSet($imageUrl)
  background-image: url($IMAGE_PREFIX + $imageUrl)
  background-size: contain
  background-position: center
  background-repeat: no-repeat

\:lang(ko)
  font-family: 'Noto Sans KR', sans-serif
\:lang(en)
  font-family: 'Roboto Slab', serif
\:lang(ja)
html, body
  height: 100%
.flexible
  display: flex
  align-items: center
.flexible-inline
  display: inline-flex
  align-items: center
.center-flex
  display: flex
  align-items: center
  justify-content: center
.start-flex
  display: flex
  align-items: center
  justify-content: flex-start
.end-flex
  display: flex
  align-items: center
  justify-content: flex-end
.between-flex
  display: flex
  align-items: center
  justify-content: space-between
.between-flex-vertical
  display: flex
  align-items: center
  justify-content: space-between
.end-flex-vertical
  display: flex
  align-items: flex-end
  justify-content: flex-start
.w100p
  width: 100%
.h100p
  height: 100%
.cursor-pointer
  cursor: pointer
.remove-tmargin
  margin-top: 0px !important
.remove-lmargin
  margin-left: 0px !important
.remove-rmargin
  margin-right: 0px !important
.remove-bmargin
  margin-bottom: 0px !important
.margin-center-hori
  margin: 0 auto
.font-ko-fixation
  font-family: 'Noto Sans KR', sans-serif
  font-weight: 700
.font-en-fixation
  font-family: 'Roboto Slab', serif
.font-rw
  font-weight: 400
.font-mw
  font-weight: 500
.font-bw
  font-weight: 700
.font-bb
  font-weight: 900
.fs-italic
  font-style: italic
.fs-normal
  font-style: normal
.fs-oblique
  font-style: oblique
.td-none
  text-decoration: none
.td-underline
  text-decoration: underline
.td-overline
  text-decoration: overline
.td-strike
  text-decoration: line-through
.td-blink
  text-decoration: blink
.fade-in
  animation: fadein .5s linear
.linear-spc
  -webkit-box-decoration-break: clone
  background-image: linear-gradient(to right,#fce4ed,#ffe8cc)
@keyframes fadein
  from
    opacity: 0
  to
    opacity: 1


.default
  max-width: 1920px
.container-default
  margin-top: 20px
.header
  padding: 7px 0px
  .header-left
    padding-left: 10px
  .header-right
    padding-right: 10px
.main-view
  .main-center-container
    height: 900px
    flex-direction: column
    justify-content: space-around
    padding: 0px 10px
.temp-side-cpt
  max-width: 400px
  height: 900px
  width: 100%
  border: 1px solid #e0e0e8
  overflow-y: scroll
.temp-center-cpt
  max-width: 900px
  width: 100%
  height: 40%
  border: 1px solid #e0e0e8
  margin: 0 auto

.enhance-card-object-font
  font-size: 40px
  padding: 0px 5px
.enhance-card-channel-font
  font-size: 90px

#enhance
  .temp-side-cpt
    margin-right: 30px

#youtube-list
  #youtube-card
    max-width: 380px
    width: 100%
    padding: 9px
    .card-container
      border: 1px solid #e0e0e8
      border-radius: 5px
      .yc-auth
        padding-left: 4px
      .yc-create-tmp
        padding-right: 4px
      .card-cover
        border-radius: 5px
        border: 1px solid #e0e0e8
        height: 140px
        background-position: center !important
        background-size: cover !important
        .yc-content-area
          transition: all 0.2s
          border-radius: 5px
          padding: 5px
          background-color: rgba(0,0,0,0.6)
          color: white
        .yc-content-area:hover
          background-color: rgba(0,0,0,0.3)

#simulate
  .card
    height: 380px
    .card-body
      height: 140px